@{
    ViewData["Title"] = "File Upload";
}
@using System.Collections.Generic;
@using ManagerFiles.Presentation.Models;
@using System.Linq;
@model FolderViewModel

<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 0;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>

<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <input id="uploadFile" placeholder="" disabled="disabled" class="form-control" style="height:36px" />
            <div class="input-group-btn">
                <div class="fileUpload btn btn-info">
                    <span>...</span>
                    <input type="file" multiple name="fileToUpload" id="fileToUpload" class="upload" onchange="fileToUploadOnchange()" />
                </div>
            </div>
        </div>
    </div>
    <input type="button" class="btn btn-info btn-sm" value="Upload" id="btnUpload" />
</div>
<p></p>

<div class="row">
    <div class="col-md-12">
        @Model.Origin.Name
        <table id="tableSourceFiles" class="table table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Move</th>
                    <th>Name</th>
                    <th>Extensions</th>
                </tr>
            </thead>
            <tbody id="tbodySourceFiles">
                @{
                    foreach (var origin in Model.Origin.Files)
                    {
                        <tr>
                            <td class="tdCopyOrMovingFile"><input type="checkbox" name="@origin.Name" value="@origin.Name"></td>
                            <td class="namesFile">@origin.Name</td>
                            <td>@origin.TypeFile</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>
                        
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="button" class="btn btn-info btn-sm" value="Copy or Moving files" id="btnCopyAndMove" />
                    </td>
                    <td>
                        <span><input type="checkbox" name="justCopy" id="justCopy" value="Delete Files from origin" checked="checked">Just Copy Files</span>
                    </td>
                </tr>
            </tbody>
        </table>        
    </div>


    <div class="col-md-12">
        @Model.Destiny.Name
        <table id="tableDestinyFiles" class="table table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Moved</th>
                    <th>Name</th>
                    <th>Extensions</th>
                </tr>
            </thead>
            <tbody id="tbodyDestinyFiles">
                @{
                    foreach (var origin in Model.Destiny.Files)
                    {
                        <tr>
                            <td class="tdCopyOrMovingFile"><input type="checkbox" checked="checked" name="@origin.Name" value="@origin.Name"></td>
                            <td class="namesFile">@origin.Name</td>
                            <td>@origin.TypeFile</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>

<div id="progressModal" class="modal fade modal-center-c" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width: 50% !important;   top: 40vh;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" id="progress_bar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="button" class="btn btn-info btn-sm" value="Cancel moving files" id="btnCancelMovingFiles" />
                    </div>
                    <div class="col-md-4">
                        <span><text id="nameFile"></text></span>
                    </div>
                    <div class="col-md-4">
                        <span>Count: <text id="uploadCount">0</text></span>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div> 
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/manageFiles.js"></script>